:root {
    font-family: system-ui, "Segoe UI", Roboto, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --color: #f0f4ef;
    --background-color: #17255a;
    --accent-color-yellow:#ffbe0b;
    --accent-color-red:#a31621;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    background-color:var(--background-color);
}

#root {
    width: 75svw;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100svh;
    box-sizing: border-box;
}
